adf/pipeline/PL_Bronze_EMR_FullLoad.json
{
	"name": "PL_Bronze_EMR_FullLoad",
	"properties": {
		"activities": [
			{
				"name": "ForEach_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_LoadConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_LoadConfig').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": "bro"
									}
								},
								"fieldList": [],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup_LoadConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_FlatFile",
						"type": "DatasetReference",
						"parameters": {
							"container": "configs",
							"file_path": "emr",
							"file_name": "load_config.csv"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"hospitalName": {
				"type": "string",
				"defaultValue": "medicore-hospital-east"
			},
			"bronzeFolder": {
				"type": "string",
				"defaultValue": "hospital_east"
			}
		},
		"annotations": []
	}
}